/* Container for the issue-list element */

.issueList {
    /* 52px is height of .issueList__title which sits above .issueList */
    max-height: calc(100vh - var(--header-height) - 52px);
    width: var(--issueList-width);
    box-sizing: border-box;
    padding: 0 15px;
}

/* The container for all of the issue items */

.issueList__list {
    max-height: calc(100vh - (var(--header-height) + 52px));
    overflow-y: scroll;
}

/* The message that appears if no issue items are avaiable */

.noIssuesMessage {
    color: var(--ashen);
    position: absolute;
    width: 100vw;
    padding-top: 200px;
    z-index: 100;
    font-size: 30px;
    text-align: center;
}

.noIssuesMessage i { 
    font-size: 40px;
}