/* Container for the issue-list element */

.issueList {
    max-height: calc(100vh - var(--header-height));
    width: var(--issueList-width);
    box-sizing: border-box;
    padding: 0 15px;
    overflow-y: scroll;
}

/* The title for the issue list */

.issueList__title {
    position: sticky;
    top: 0;
    z-index: 2;
}

/* The message that appears if no issue items are avaiable */

.noIssuesMessage {
    position: absolute;
    width: 100vw;
    padding-top: 200px;
    z-index: 100;
    font-size: 30px;
    text-align: center;
}

.noIssuesMessage i { 
    font-size: 40px;
}