/* Container for the issue-list element */

.issueList {
    /* 52px is height of .issueList__title which sits above .issueList */
    max-height: calc(100vh - var(--header-height) - 52px);
    width: var(--issueList-width);
    box-sizing: border-box;
<<<<<<< HEAD
    padding: 0 15px;
=======
    padding: 0 7px 0 15px;
    overflow-y: scroll;
>>>>>>> fb2cc7e3a237b0fbbd6ae5bbc3dec992dbb7201a
}

/* The container for all of the issue items */

<<<<<<< HEAD
.issueList__list {
    max-height: calc(100vh - (var(--header-height) + 52px));
    overflow-y: scroll;
=======
.issueList__title {
    position: relative;
    padding-left: 15px;
>>>>>>> fb2cc7e3a237b0fbbd6ae5bbc3dec992dbb7201a
}

/* The message that appears if no issue items are avaiable */

.noIssuesMessage {
    color: var(--ashen);
    position: absolute;
    width: 100vw;
    padding-top: 200px;
    z-index: 100;
    font-size: 30px;
    text-align: center;
}

.noIssuesMessage i { 
    font-size: 40px;
}