<div class="courseSearch">
    <div class="courseSearch__title">Course Selection</div>
    <div class="courseSearch__courseSelection">
        <div class="courseSearch__search">
            <div>
                <div class="courseSearch__options">
                    <select #account>
                        <option value="" disabled selected>Account</option>
                        <option value=""></option>
                        <option value="13">Development</option>
                        <option value="">Campus</option>
                        <option value="pathway">Pathway</option>
                        <option value="1">All</option>
                    </select>

                    <select #term>
                        <option value="" disabled selected>Term</option>
                        <option value=""></option>
                        <option value="fall">Fall</option>
                        <option value="winter">Winter</option>
                        <option value="spring">Spring</option>
                        <option value="all">All Terms</option>
                    </select>
                    
                    <select #blueprint>
                        <option value="" disabled selected>Blueprint</option>
                        <option value=""></option>
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </div>

                <input type="text" placeholder="Search courses..." (input)="getCourses()" #searchText/>
            </div>
            <div class="courseSearch__courseResults__title">Results</div>
            <table class="highlight">
                <thead>
                    <tr>
                        <th>+/-</th>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Instructor</th>
                        <th>Sections</th>
                        <th>Account</th>
                        <th>Term</th>
                        <th>Blueprint</th>
                        <th class="material-icons">open_in_new</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let course of courseResults">
                        <td>
                            <i class="material-icons">add_circle</i>
                        </td>
                        <td>{{course.course_name}}</td>
                        <td>{{course.course_code}}</td>
                        <td>{{course.instructor}}</td>
                        <td>{{course.section}}</td>
                        <td>{{course.account}}</td>
                        <td>{{course.term}}</td>
                        <td>{{course.blueprint}}</td>
                        <td>
                            <a href="{{course.url}}" target="_blank">
                                <i class="material-icons">open_in_new</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
