.courseSearch {
  height: calc(100vw - var(--course-sidebar-width) - 25px);
}

.courseSearch__title {
  font-size: 60px;
  margin: 15px 0 0 50px;
  position: fixed;
  width: 100%;
}

.courseSearch__courseSelection {
  background-color: var(--primary-4);
  display: flex;
  height: 100%;
  position: fixed;
  padding-left: 50px;
  top: calc(var(--breadcrumbs-height) + 95px);
  width: calc(100vw - var(--course-sidebar-width));
  z-index: 10;
}

/**************************************
* Course Search Option Dropdowns
***************************************/

.courseSearch__options {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  margin: 80px 80px;
  top: calc(var(--breadcrumbs-height) + 30px);
  right: var(--course-sidebar-width);
  width: 250px;
  height: 100vh - var(--breadcrumbs-height);
}

.courseSearch__options__title {
  font-size: 20px;
}

select {
  background-color: white;
  border: 1px solid var(--primary-3);
  color: black;
  cursor: pointer;
  display: block;
  margin-bottom: 5px;
  /* The selected option will be size 20px */
  font-size: 20px;
}

option {
  font-size: 16px;
}

/***************************************
* Course Search Search Bar and Headers
****************************************/

.courseSearch__search {
  display: block;
  flex-flow: column nowrap;
}

.courseSearch__searchbar__title,
.courseSearch__courseResults__title {
  font-size: 20px;
}

.courseSearch__search>input {
  background-color: white;
  border: 1px solid var(--primary-3);
  font-size: 20px;
  width: 700px;
}

/***************************************
* Course Search Results
****************************************/

.courseSearch__search>table {
  background-color: white;
  border: 1px solid var(--primary-3);
  display: flex;
  flex-flow: column nowrap;
  width: 900px;
}

.courseSearch__courseResults>* {
  display: flex;
  flex-flow: column nowrap;
}

tbody>tr {
  cursor: pointer;
}

thead th:nth-of-type(1),
tbody td:nth-of-type(1) {
  width: 20px;
}

thead th:nth-of-type(2),
tbody td:nth-of-type(2) {
  width: 400px;
}

thead th:nth-of-type(3),
tbody td:nth-of-type(3) {
  width: 100px;
}

thead th:nth-of-type(4),
tbody td:nth-of-type(4) {
  width: 180px;
}

thead th:nth-of-type(5),
tbody td:nth-of-type(5) {
  width: 100px;
}

thead th:nth-of-type(6),
tbody td:nth-of-type(6) {
  width: 100px;
}
