.courseSearch {
  border-right: 1px solid var(--primary-3);
  height: calc(100vw - var(--course-sidebar-width) - 25px);
  position: fixed;
  z-index: 4;
}

.courseSearch__title {
  background-color: var(--primary-4);
  font-size: 60px;
  padding: 10px 0 0 45px;
  position: fixed;
  width: calc(100vw - var(--course-sidebar-width));
}

.courseSearch__courseSelection {
  background-color: var(--primary-4);
  display: flex;
  height: 100%;
  position: fixed;
  padding-left: 50px;
  top: calc(var(--breadcrumbs-height) + 95px);
  width: calc(100vw - var(--course-sidebar-width));
}

/**************************************
* Course Search Option Dropdowns
***************************************/

.courseSearch__options {
  display: flex;
  flex-flow: row nowrap;
  margin-right: 20px;
  width: 40vw;
}

select {
  background-color: white;
  border: 1px solid var(--primary-3);
  color: black;
  cursor: pointer;
  display: block;
  margin-right: 15px;
  /* The selected option will be size 20px */
  font-size: 20px;
}

select>option[disabled] {
  display: none;
}

option {
  font-size: 16px;
}

/* select + option {
  color: #999;
} */

/***************************************
* Course Search Search Bar and Headers
****************************************/

.courseSearch__search {
  display: block;
  flex-flow: column nowrap;
}

.courseSearch__search>div:first-of-type {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 10px;
  width: calc(100vw - var(--course-sidebar-width));
}

/* .courseSearch__searchbar__title, */

.courseSearch__courseResults__title {
  font-size: 20px;
}

.courseSearch__search>div>input {
  background-color: white;
  border: 1px solid var(--primary-3);
  font-size: 20px;
  padding-left: 10px;
  width: 47.4vw;
}

/***************************************
* Course Search Results
****************************************/

.courseSearch__search>table {
  background-color: white;
  border: 1px solid var(--primary-3);
  display: flex;
  flex-flow: column nowrap;
  width: 89vw;
}

.courseSearch__courseResults>* {
  display: flex;
  flex-flow: column nowrap;
}

tbody>tr {
  cursor: pointer;
}

thead th:nth-of-type(1),
tbody td:nth-of-type(1) {
  padding-left: 10px;
  width: 50px;
}

thead th:nth-of-type(2),
tbody td:nth-of-type(2) {
  width: 400px;
}

thead th:nth-of-type(3),
tbody td:nth-of-type(3) {
  width: 150px;
}

thead th:nth-of-type(4),
tbody td:nth-of-type(4) {
  width: 250px;
}

thead th:nth-of-type(5),
tbody td:nth-of-type(5) {
  width: 150px;
}

thead th:nth-of-type(6),
tbody td:nth-of-type(6) {
  width: 150px;
}

thead th:nth-of-type(7),
tbody td:nth-of-type(7) {
  width: 150px;
}

thead th:nth-of-type(8),
tbody td:nth-of-type(8) {
  width: 150px;
}

thead th:nth-of-type(9),
tbody td:nth-of-type(9) {
  width: 100px;
}
