.courseSearch {
  height: 100vh;
  position: fixed;
  width: calc(100vw - var(--course-sidebar-width));
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.4);
}

.courseSearch__title {
  font-size: 60px;
  padding: 15px 0 0 45px;
  position: fixed;
  top: 0;
  width: calc(100vw - var(--course-sidebar-width));
  color: white;
}

.courseSearch__courseSelection {
  display: flex;
  height: 100%;
  position: fixed;
  padding: 0 50px;
  top: 95px;
  width: calc(100vw - var(--course-sidebar-width));
}

/**************************************
* Course Search Option Dropdowns
***************************************/

.courseSearch__options {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 10px;
  width: calc(100vw - var(--course-sidebar-width) - 100px);
}

select {
  background-color: white;
  border: 1px solid var(--primary-3);
  color: black;
  cursor: pointer;
  display: block;
  margin-right: auto;
  width: 90%;
  /* This height matches the height of the input */
  height: 47px;
  /* The selected option will be size 20px */
  font-size: 20px;
}

label {
  font-size: 20px;
  color: white;
  width: 13%;
}

select>option[disabled] {
  display: none;
}

option {
  font-size: 16px;
}


/***************************************
* Course Search Search Bar and Headers
****************************************/

.courseSearch__search {
  display: block;
  flex-flow: column nowrap;
  /* Subract 100px for the 50px padding on each side of the container */
  width: calc(100vw - var(--course-sidebar-width) - 100px);
}

.courseSearch__options input {
  background-color: white;
  border: 1px solid var(--primary-3);
  font-size: 20px;
  margin: 0;
  padding-left: 10px;
  /* Subtract the padding + border from the width */
  width: calc(100% - 11px);
}

.courseSearch__input {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

/***************************************
* Course Search Results
****************************************/

.courseSearch__search>table {
  background-color: white;
  border: 1px solid var(--primary-3);
  display: flex;
  flex-flow: column nowrap;
  /* Subract 100px for the 50px padding on each side of the container */
  width: calc(100vw - var(--course-sidebar-width) - 100px);
  max-height: 655px;
}

.courseSearch__search>table>tbody::-webkit-scrollbar {
  display: block;
  width: 5px;
  padding-top: 44px;
}

.courseSearch__search>table>thead {
  background-color: white;
  border-bottom: 1px solid var(--primary-3);
  height: 52px;
  position: fixed;
  /* The width of the table minus the 1px border width on each side
  so the white background doesn't overlap the table border */
  width: calc(100vw - var(--course-sidebar-width) - 102px);

}

.courseSearch__search>table>tbody {
  overflow-y: scroll;
  position: relative;
  /* The same as the padding-top for the Scrollbar, one pixel 
  less than the thead height to account for the thead border */
  margin-top: 44px;
}

.courseSearch__courseResults>* {
  display: flex;
  flex-flow: column nowrap;
}

tbody>tr,
tr>th {
  cursor: pointer;
}

tr>th:hover {
  background-color: #ebebeb;
}

tr>th,
tr>td {
  padding-left: 10px;
}

thead th:nth-of-type(1),
tbody td:nth-of-type(1) {
  /* padding-left: 15px; */
  width: 50px;
}

thead th:nth-of-type(2),
tbody td:nth-of-type(2) {
  /* padding-left: 10px; */
  width: 400px;
}

thead th:nth-of-type(3),
tbody td:nth-of-type(3) {
  width: 200px;
}

thead th:nth-of-type(4),
tbody td:nth-of-type(4) {
  width: 275px;
}

thead th:nth-of-type(5),
tbody td:nth-of-type(5) {
  width: 175px;
}

thead th:nth-of-type(6),
tbody td:nth-of-type(6) {
  width: 175px;
}

thead th:nth-of-type(7),
tbody td:nth-of-type(7) {
  width: 175px;
}

thead th:nth-of-type(8),
tbody td:nth-of-type(8) {
  width: 175px;
}

thead th:nth-of-type(9),
tbody td:nth-of-type(9) {
  width: 150px;
  text-align: center;
}
