<div class="courseSearch">
  <div class="courseSearch__title">Course Selection</div>
  <div class="courseSearch__courseSelection">
    <div class="courseSearch__search">
      <!-- <div> -->
      <div class="courseSearch__options">
        <label>Sub-Account
          <select (change)="getCourses()" #subAccount>
            <!-- <option value="" disabled selected>Sub-Account</option> -->
            <option value="" selected></option>
            <option value="13">Development</option>
            <option value="">Campus</option>
            <option value="pathway">Pathway</option>
            <option value="1">All</option>
          </select>
        </label>
        <label>Term
          <select (change)="getCourses()" #term>
            <!-- <option value="" disabled selected>Term</option> -->
            <option value="" selected></option>
            <option value="10">Fall</option>
            <option value="4">Winter</option>
            <option value="9">Spring</option>
            <option value="5">Master Courses</option>
            <option value="">All Terms</option>
          </select>
        </label>
        <label>Blueprint
          <select (change)="getCourses()" #blueprint>
            <!-- <option value="" disabled selected>Blueprint</option> -->
            <option value="" selected></option>
            <option value="true">True</option>
            <option value="false">False</option>
            <option value="">All</option>
          </select>
        </label>
        <div class="courseSearch__input">
          <label>Search</label>
            <input type="text" placeholder="Search courses..." (input)="getCourses()" #searchText/>
        </div>
      </div>
      <!-- </div> -->
      <!-- <div class="courseSearch__courseResults__title">Results</div> -->
      <label>Results {{courseResults.length !== 0 ? '(' + courseResults.length + ')': '0'}}</label>
      <table class="highlight">
        <thead>
          <tr>
            <th>+/-</th>
            <th>Name</th>
            <th>Code</th>
            <th>Instructor</th>
            <th>Account</th>
            <th>Term</th>
            <th>Blueprint</th>
            <th>ID</th>
            <th>Open in Canvas</th>
          </tr>
        </thead>
        <tbody *ngIf="!searching">
          <tr *ngFor="let course of courseResults" [ngClass]="isAdded(course) ? 'grey lighten-2' : ''" class="table-element-{{course.id}}">
            <td (click)="courseService.addCourse(course)">
              <i class="material-icons">{{isAdded(course) ? 'remove_circle' : 'add_circle'}}</i>
            </td>
            <td (click)="courseService.addCourse(course)">{{course.course_name}}</td>
            <td (click)="courseService.addCourse(course)">{{course.course_code}}</td>
            <td (click)="courseService.addCourse(course)">{{course.instructor}}</td>
            <td (click)="courseService.addCourse(course)">{{course.account}}</td>
            <td (click)="courseService.addCourse(course)">{{course.term}}</td>
            <td (click)="courseService.addCourse(course)">{{course.blueprint}}</td>
            <td (click)="courseService.addCourse(course)">{{course.id}}</td>
            <td>
              <a href="{{course.url}}" target="_blank">
                <i class="material-icons">open_in_new</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="searching">
        <div class="loader" style="margin: 50px 0 0 -50px">
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="loader" style="margin: 50px 0 0 -50px">
          Searching ...
        </div>
      </div>
    </div>
  </div>
</div>
