.courseSidebar {
  display: none;  
  position: fixed;
  top: var(--breadcrumbs-height);
  padding: 0 15px;
  left: 0;
  height: calc(100vh - var(--breadcrumbs-height));
  width: var(--course-sidebar-width);
  background-color: var(--navy);
  z-index: 5;
}

.courseSidebar__title {
  width: 100%;
  color: white;
  text-align: left;
}

.courseSidebar__courseChip__container {
  max-height: calc(100vh - (var(--breadcrumbs-height) + 140px));
  overflow-y: scroll;
}

.courseSidebar__courseChip__container.toolView {
    max-height: calc(100vh - var(--breadcrumbs-height));
}

a {
  text-align: center;
  bottom: 10px;
  margin-top: 10px;
  width: 100%;
  padding: 0;
  font-size: 12px;
}

/* Action buttons at the bottom of the sidebar */

.courseSidebar__actionItem i.addButton {
    font-size: 30px;
}

.courseSidebar__actionItem i:hover {
    background-color: #2962ff !important;
}

.enabled {
    color: #2979FF !important;
    background-color: #eceff1 !important;
}

.courseSidebar__actionItem i.enabled:hover {
    color: #eceff1 !important;
    background-color: #2962ff !important;
}

/************************************
 * Course Selection Button
 ************************************/
 .courseSidebar__actionItem {
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
}

.courseSidebar__actionItem i {
  line-height: 45px;
  text-align: center;
  border-radius: 90px;
  padding: 0;
  font-size: 25px;
  width: 45px;
  height: 45px;
}

.courseSidebar__expandSidebar {
  position: absolute;
  bottom: 10px;
  width: 45px;
  /* Sidebar is 112px - 10px left padding - 10px right padding - 45px icon width = 47px */
  /* 47px / 2 = 23.5px on each side of the icon */
  margin: 23.5px;
}

.courseSidebar__expandSidebar>* {
  color: white;
}

/******************************************
 * Course Selection Overlay Component
 ******************************************/
 app-course-selection {
  top: 0;
  height: 100vh;
  width: calc(100vw - var(--course-sidebar-width));
  position: absolute;
  display: none;
}
app-course-selection.open {
  top: 0;
  height: 100vh;
  width: calc(100vw - var(--course-sidebar-width));
  position: absolute;
  display: block;
  animation: slidein .15s ease-in-out;
}

app-course-selection.close {
  top: 0;
  height: 100vh;
  width: calc(100vw - var(--course-sidebar-width));
  display: block;
  position: absolute;
  animation: slideout .15s ease-in-out;
  animation-fill-mode: forwards;
}

.removeAll {
    width: 100%;
    margin: 10px 0;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgb(0, 0, 0, 0.7);
    z-index: 4;
    height: 100vh;
    width: 100vw;
}

@keyframes slidein {
  from {
    margin-left: -100vw;
  }
  to {
    margin-left: 0;
  }
}

@keyframes slideout {
  from {
    margin-left: 0;
  }
  to {
    margin-left: -100vw;
  }
}