.optionsView {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 55px;
}

.optionsView__container {
    color: black;
    width: 100%;
    animation: .5s fadeIn;
}

.optionsView__title {
    padding: 10px 20px;
}

.optionsView.frosted {
    position: relative;
    z-index: -1;
}

.categories-container>label {
    margin-right: 20px;
    font-size: 16px;
    padding-left: 30px;
}

.arrowIndicator {
    display: flex;
    position: absolute;
    top: calc(var(--breadcrumbs-height) + 5px);
    right: 160px;
    color: white;
    z-index: 2000;
    font-size: 20px;
}

.arrowIndicator>div {
    line-height: 40px;
}

.card-content>div{
    margin: 20px 0;
}

.card-content>div:first-of-type {
    margin-top: 0 !important;
}

.card-content:last-child {
    margin-bottom: 0 !important;
}

[type="checkbox"].filled-in:checked + label::after {
    border-color: #2979FF !important;
    background-color: #2979FF !important;
}

div.option__text {
    padding: 0 10px !important;
}

button[type="submit"] {
    margin-left: 10px;
}