.statContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: 20px;
}

.statContainer>div {
    width: 50%;
}

app-stat-badge>div {
    margin: 5px 0;
}

.issueContainer {
    margin-top: var(--header-height);
    display: flex;
}

.progress {
    background-color: var(--cobalt);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 5px;
    margin: 0;
    z-index: 9999;
}

.progress + div {
    font-size: 28px;
    padding: 50px;
    text-align: center;
    margin-top: 250px;
}

.indeterminate {
    background-color: var(--ashen);
}