<div class="statContainer">
    <div>
        <app-stat-badge [statTitle]="'Items'" [side]="'left'" [statCount]="courseService.selectedCourse.issueItems.length"></app-stat-badge>
    </div>
    <div>
        <app-stat-badge [statTitle]="'Issues'" [side]="'left'" [statCount]="courseService.getCourseIssueCount()"></app-stat-badge>
    </div>
    <div>
        <app-stat-badge [titleColor]="'#eceff1'" [statTitle]="'Untouched'" [side]="'left'" [statCount]="courseService.getCourseIssueCount('untouched')"></app-stat-badge>
    </div>
    <div>
        <app-stat-badge [titleColor]="'#5EBD8F'" [statTitle]="'Approved'" [side]="'left'" [statCount]="courseService.getCourseIssueCount('approved')"></app-stat-badge>
    </div>
    <div>
        <app-stat-badge [titleColor]="'#65727D'" [statTitle]="'Skipped'" [side]="'left'" [statCount]="courseService.getCourseIssueCount('skipped')"></app-stat-badge>
    </div>
    <div>
        <app-stat-badge [titleColor]="'#e53935'" [statTitle]="'Failed'" [side]="'left'" [statCount]="courseService.getCourseIssueCount('failed')"></app-stat-badge>
    </div>
    <div>
        <app-stat-badge [titleColor]="'#2879B5'" [statTitle]="'Fixed'" [side]="'left'" [statCount]="courseService.getCourseIssueCount('fixed')"></app-stat-badge>
    </div>
</div>

<div style="margin-top: 300px" *ngIf="courseService.selectedCourse.processing">
    <div class="loader">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-yellow-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="loader white-text">
        {{toolService.processingMessage}}
    </div>
</div>

<div style="display: flex;" *ngIf="!courseService.selectedCourse.processing">
    <app-issue-list></app-issue-list>
    <div>
        <app-issue-details></app-issue-details>
        <app-issue-nav></app-issue-nav>
    </div>
</div>
