<div *ngIf="courseService.selectedCourse.processing">
    <div class="progress">
        <div class="indeterminate"></div>
    </div>
    <div class="ashen-text">
        {{settingsService.checkLocalStorage('goofMessages') ? settingsService.buildProcessingMessage() : toolService.processingMessage}}
    </div>
</div>

<div class="issueContainer" *ngIf="!courseService.selectedCourse.processing">
    <!-- <app-issue-list></app-issue-list>
    <div>
        <app-issue-details></app-issue-details>
        <app-issue-nav></app-issue-nav>
    </div> -->
    <app-issue-report></app-issue-report>
</div>
