:root {
    /* CSS VARIABLES GO HERE */
    --color-1: #498fff;
    --color-2: #f2f2f2;
    --color-3: #4b5970;
    --color-4: #7f8faa;
    --color-5: #d2d2d2;
    --sidebar-width: 100px;
    --navbar-height: 50px;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin-left: var(--sidebar-width);
}

/* Buttons */

button {}

.button__action {}

.button__content {}

/* Anchor Tags */

/* Headers */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 20px 0;
}

/* Modifiers */

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

/* Component Top Level */

katana-router {
    width: 100%;
    padding: 20px;
}

katana-category-item {
    width: calc(100% / 6 - 40px);
    margin: 20px;
    box-sizing: border-box;
}

/* Media Queries */

@media (max-width: 1200px) {
    katana-category-item {
        width: calc(100% / 5 - 40px);
    }
}

@media (max-width: 1000px) {
    katana-category-item {
        width: calc(100% / 4 - 40px);
    }
}

@media (max-width: 800px) {
    katana-category-item {
        width: calc(100% / 3 - 40px);
    }
}

@media (max-width: 600px) {
    katana-category-item {
        width: calc(100% / 2 - 40px);
    }
}

@media (max-width: 400px) {
    katana-category-item {
        width: calc(100% - 40px);
    }
}