/* A container for a single issue */

.issueContainer {
    box-sizing: border-box;
    border: solid 1px var(--background-light);
    border-bottom: none;
    animation: 0.5s fadeIn;
}

/* Overwrites the card class from materialize */

.issueContainer.card {
    border-radius: 0;
}

/* Overwrites the card content class from materialize */

.issueContainer.card .card-content {
    padding: 20px;
}

.issueContainer.card .card-action a {
    width: 141px;
    text-align: center;
    margin: 0;
    padding: 0 15px;
    border-radius: 0;
}

/* Overwrites materialize button focus so it doesn't show up on the issue cards */

.btn-flat:focus {
    background-color: none !important;
}

.card .card-action {
    background-color: transparent !important;
    border-top: none;
}

.issueContainer.card .card-content>h2:first-of-type {
    padding-top: 0;
}

.card .card-action>button {
    width: 175px;
    margin-right: 15px;
}

.option__text {
    padding: 0 10px;
}