/* A container for a single issue */

.issueContainer {
    background-color: white;
    box-sizing: border-box;
}

/* Overwrites the card class from materialize */

.issueContainer.card {
    border-radius: 0;
}

/* Overwrites the card content class from materialize */

.issueContainer.card .card-content {
    padding: 20px;
}

.issueContainer.card .card-action a {
    width: 141px;
    text-align: center;
    margin: 0;
    padding: 0 15px;
    border-radius: 0;
}

/* Overwrites materialize button focus so it doesn't show up on the issue cards */

.btn-flat:focus {
    background-color: none !important;
}