<div class="issueContainer card">

    <div class="card-content">
        <div class="card-title">{{issue.title}}</div>
        <div class="issueContainer__issueDescription">{{issue.description}}</div>
    </div>

    <div class="card-action">
        <a (click)="" class="waves-effect green-text waves btn-flat">
            <i class="material-icons left">check</i>
            approve
        </a>

        <a (click)="" class="waves-effect red-text waves btn-flat">
            <i class="material-icons left">remove</i>
            skip
        </a>
    </div>

</div>