.breadcrumbs {
    height: var(--breadcrumbs-height);
    left: var(--course-sidebar-width);
    line-height: var(--breadcrumbs-height);
    padding: 0 20px;
    position: fixed;
    top: 0;
    width: calc(100vw - var(--course-sidebar-width));
}

.breadcrumb {
    color: var(--accent-1);
}

.breadcrumb::before {
    color: var(--primary-3);
}

/* frosteded blur effect for course selection overlay */
.frosted {
    filter: blur(5px);
}