.breadcrumbs {
    height: var(--breadcrumbs-height);
    left: var(--course-sidebar-width);
    line-height: var(--breadcrumbs-height);
    padding: 0 20px;
    position: fixed;
    top: 0;
    width: calc(100vw - var(--course-sidebar-width));
    border-bottom: solid 1px var(--primary-2);
}

.breadcrumb {
    color: var(--accent-1);
}

.breadcrumb::before {
    color: var(--primary-3);
}

/* frosteded blur effect for course selection overlay */
.frosted {
    filter: blur(5px);
}

.no-padding {
    padding: 0;
}

.modal-content iframe {
    width: 100%;
    height: 70vh;
}

.feedback-button {
    cursor: pointer;
    margin-top: 8px;
}