<div [class.frost]="this.courseService.courseSelectionOpen || this.courseService.courseEditOpen" class="breadcrumbs">
    <div class="nav-wrapper">
        <div id="breadcrumb-links" class="col s12">
            <a class="breadcrumb blue-text text-accent-3" href="/">Home</a>
            <a class="breadcrumb blue-text text-accent-3" *ngIf="toolService.selectedCategory" [routerLink]="['categories', 'tools']"
                [queryParams]="{category: toolService.selectedCategory.type}">{{toolService.selectedCategory.title}}</a>
            <a class="breadcrumb blue-text text-accent-3" *ngIf="toolService.selectedTool" [routerLink]="['categories', 'tools', toolService.selectedTool.id, 'options']">{{toolService.selectedTool.title}}</a>
        </div>
    </div>
</div>
