<div class="statContainer">
    <app-stat-badge style="margin-left: 15px;" [statTitle]="'Courses'" [statCount]="courseService.courses.length"></app-stat-badge>
    <app-stat-badge style="margin-left: 15px;" [statTitle]="'Items'" [statCount]="getIssueItemCount()"></app-stat-badge>
    <app-stat-badge style="margin-left: 15px;" [statTitle]="'Issues'" [statCount]="getIssueCount()"></app-stat-badge>
</div>

<div style="margin-top: 300px" *ngIf="courseService.selectedCourse.processing">
    <div class="loader">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="loader">
        {{toolService.processingMessage}}
    </div>
</div>

<div style="display: flex;" *ngIf="!courseService.selectedCourse.processing">
    <app-issue-list></app-issue-list>
    <div>
        <app-issue-details></app-issue-details>
        <app-issue-nav></app-issue-nav>
    </div>
</div>
