<div materialize class="issueApproval navy" *ngIf="courseService.selectedCourse.error === undefined && toolService.selectedTool.toolType === 'fix'">

    <!-- Container to hold the fix approved and kebob menu buttons -->
    <div class="issueApproval__buttonContainer">
        <!-- Fix Approved Button -->
        <div class="issueApproval__button">
            <a href="#fixModal" class="modal-trigger waves-effect white-text waves btn-flat" (click)="openModal('fixApproved')">
                <i class="material-icons left">build</i>
                Fix Approved Issues
            </a>
        </div>
    </div>

    <!-- The dropdown menu from the kebob menu -->
    <ul id="dropdown1" class="dropdown-content">
        <li [class.disabled]="toolService.selectedTool.enableApproveAll !== true">
            <a href="#approveAllModal" class="modal-trigger waves-effect white-text waves btn-flat" (click)="openModal('approveAllModal')">
                <i class="green-text material-icons left text-accent-4">check</i>
                Approve All
            </a>
        </li>
        <li>
            <a (click)="downloadIssues()" id="download">
                <i class="material-icons left">cloud_download</i>
                Download CSV
            </a>
        </li>
    </ul>

    <!-- The Kebob menu at the far right of the bottom bar -->
    <div>
        <a materialize="dropdown" [materializeParams]="[{constrain_width: false, alignment: 'left'}]" class="dropdown-button issueApproval_moreButton"
            data-activates="dropdown1">
            <i class="material-icons blue-grey-text text-lighten-3">more_vert</i>
        </a>
    </div>
</div>

<!-- Modal - Must stay beneath the main container -->
<div id="fixModal" class="modal modal-fixed-footer" materialize="modal" [materializeActions]="modalAction1">

    <div class="modal-content">
        <h4>Issues</h4>

        <table class="striped">
            <tbody>
                <tr *ngFor="let course of courseService.courses" class="flex-container" style="width:100%">
                    <td>
                        <app-stat-badge class="overview-statBadge" (click)="closeModal();courseService.selectedCourse = course" [statTitle]="course.course_code"
                            [statCount]="getIssueItems(course).length" [side]="'left'"></app-stat-badge>
                    </td>
                    <td style="flex-grow:1;display:flex;flex-wrap:wrap;margin-left: 10px">
                        <i *ngFor="let issue of getIssueItems(course)" class="material-icons issueIcon" [ngClass]="courseService.getTextColorClasses(issue.status)"
                            (click)="selectIssueItem(course, issue)">
                            {{courseService.getStatusIcon(issue.status)}}
                        </i>
                    </td>
                    <!-- <td>
                        <a class="waves-effect btn-flat blue-text text-accent-3 right" (click)="katanaService.fixIssues([course])">Fix</a>
                    </td> -->
                </tr>
            </tbody>
        </table>

    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect btn-flat blue-grey-text text-darken-3 left" (click)="closeModal()">Cancel</a>
        <a class="modal-action modal-close waves-effect btn blue accent-3" (click)="katanaService.fixIssues(courseService.courses)">Fix All Approved Issues</a>
    </div>

</div>

<!-- Approve All Modal - Must stay beneath the main container -->
<div id="approveAllModal" class="modal modal-fixed-footer" materialize="modal" [materializeActions]="modalAction2">
    <div class="modal-content">
        <h4>Are You Sure?</h4>
        <p>Approving all issues will allow you to make many breaking changes to this course. Before you do, consider making a backup of the course and downloading it to your computer.</p>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect btn-flat blue-grey-text text-darken-3 left" (click)="closeModal()">Cancel</a>
        <a id="makeCourseBackup" class="modal-action modal-close waves-effect btn blue accent-3" (click)="makeBackup()">Make Course Backup</a>
        <a class="modal-action modal-close waves-effect btn green accent-3" (click)="approveAll()">Approve All Issues</a>
    </div>
</div>