/** Container for this component
 * Note: z-index must be higher than 1 so buttons in the Issues
 * column do not overlap. */

td {
    padding: 5px 0;
}

.issueApproval {
    bottom: 20px;
    display: flex;
    height: 50px;
    justify-content: space-between;
    border-radius: 4px;
    position: fixed;
    right: 35px;
    z-index: 2;
}

/* Container to hold the "fix approved" and kebob menu */

.issueApproval__buttonContainer {
    display: flex;
    justify-content: space-between;
}

/* Buttons within this component */

.issueApproval__button {
    border-radius: 3px;
    margin: auto;
}

.issueApproval__button a {
    padding: 0 15px;
    margin: 0 15px;
}
/* The kebob menu */

.issueApproval_moreButton>i {
    color: var(--primary-5);
    cursor: pointer;
    font-size: 30px;
    line-height: 50px;
    margin: 0 10px 0 0;

}

/* The kebob menu's dropdown content */

.dropdown-content {
    /* important has to be here b/c we're overwriting materialize */
    top: 37px !important;
    width: 200px !important;
    transform: translate(0, -87px);
}

.dropdown-content>li>a {
    transition: none;
    color: var(--cobalt);
}

.dropdown-content>li>a:hover {
    transition: none;
    background-color: #eee;
}

.modal-footer {
    border-top: solid 1px var(--primary-2);
}

.issueIcon {
    transform: translateY(3px);
    font-size: 18px;
    cursor: pointer;
}

.disabled, .disabled:hover {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
    background-color: #DFDFDF;
    color: #9F9F9F;
    box-shadow: none;
}
