/* Container for the issue-list element */

.issueList {
    height: calc(100vh - (var(--breadcrumbs-height) + 60px));
    width: var(--issueList-width);
    box-sizing: border-box;
}

/* The box all issue-cards go into */

.issueList__list {
    min-height: calc(100vh - (var(--breadcrumbs-height) + 70px));
    max-height: calc(100vh - (var(--breadcrumbs-height) + 70px));
    overflow: auto;
    overflow-x: hidden;
    padding: 0 10px 0 20px;
}

/* The title for the issue list */

.issueList__title {
    width: 100%;
    height: var(--toolView-titleBar-height);
    line-height: var(--toolView-titleBar-height);
    box-sizing: border-box;
    padding-left: 20px;
    font-size: 20px;
}

/* The message that appears if no issue items are avaiable */

.noIssuesMessage {
    position: absolute;
    width: calc(100vw - var(--course-sidebar-width));
    padding-top: 200px;
    z-index: 100;
    font-size: 30px;
    text-align: center;
}

.noIssuesMessage i { 
    font-size: 40px;
}