<div class="issueList">
  <div class="issueList__title">
    Issues
  </div>
  <div class="issueList__list">
    <app-issue-card></app-issue-card>
    <app-issue-card></app-issue-card>
    <app-issue-card></app-issue-card>
    <app-issue-card></app-issue-card>
    <app-issue-card></app-issue-card>
    <app-issue-card></app-issue-card>
    <app-issue-card></app-issue-card>
    <app-issue-card></app-issue-card>
    <app-issue-card></app-issue-card>
    <app-issue-card></app-issue-card>
  </div>
</div>
