<div class="issueList">
    <div class="issueList__title">
        Items
    </div>
    <div class="issueList__list">
        <app-issue-card *ngFor="let issueItem of courseService.selectedCourse.issueItems; let i = index" [position]="i" [issueItem]="issueItem"
            (click)="courseService.selectedIssueItem = issueItem">
        </app-issue-card>
        <div class="noIssuesMessage" *ngIf="!courseService.selectedCourse || !courseService.selectedCourse.issueItems || courseService.selectedCourse.issueItems.length === 0">
            No issues were discovered in this course.
            <div>
                <i class="material-icons">tag_faces</i>
            </div>
        </div>
    </div>
</div>
