<div class="issueList">
    <div class="issueList__title">
        Items
    </div>
    <div class="issueList__list">
        <app-issue-card *ngFor="let issueItem of issuesService.issueItems" [issueItem]="issueItem" (click)="this.issuesService.selectedItem = issueItem">
        </app-issue-card>
        <div class="noIssuesMessage" *ngIf="verifyIssueCount()">
            No issues were discovered in this course.
            <div>
                <i class="material-icons">tag_faces</i>
            </div>
        </div>
    </div>
</div>