.courseChip {
    font-size: 12px;
    font-weight: 600;
    padding: 5px 10px;
    margin: 2px 0;
    box-sizing: border-box;
    border-radius: 3px;
    color: white;
    width: var(--course-chip-width);
    display: flex;
    justify-content: space-between;
}

.courseChip__container {
    display: flex;
    width: 100%;
    position: relative;
}

.courseChip__container>i {
    line-height: 43px;
    margin: 3px 2px;
    height: 43px;
    width: 43px;
    border-radius: 43px;
    text-align: center;
    cursor: pointer;
    color: white;
}

.courseChip__container>i:hover {
    background-color: #dddddd54;
}

.courseChip__instructorName {
    font-size: 10px;
    font-weight: 400;
    opacity: .7;
    color: white;
    text-overflow: ellipsis;
}

.courseChip__courseDetail {
    line-height: 51px;
    padding: 0 10px;
    color: white;
    opacity: .8;
    width: 150px;
}

.courseChip__issueCount {
    height: 25px;
    min-width: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 43px;
    cursor: pointer;
    font-weight: bold;
    margin: 4px 0;
    padding: 0 2px;
    display: flex;
    justify-content: center;
}

.courseChip__courseDetails {
    max-width: 100px;
}

.courseChip__issueCount__hidden {
    display: none;
}

.courseChip.selected .courseChip__issueCount__hidden, 
.courseChip:hover .courseChip__issueCount__hidden {
    display: flex;
}

.badgeContainer {
    padding: 0 5px;
}

.countBadge__count {
    line-height: 26px;
    font-size: 14px;
}

.countBadge__icon {
    font-size: 18px;
    line-height: 24px;
    margin: 0 5px;
}

.error {
    background-color: rgb(255, 57, 57) !important;
}

.selectable:hover {
    cursor: pointer;
    background-color: #455a64 !important;
}

.selected {
    background-color: #455a64 !important;
}

.smooth-width {
    animation: smoothWidth .22s;
}

@keyframes smoothWidth {
    from {
        width: 0;
    }
    to {
        width: 40px;
    }
}