.breadcrumbs {
    height: var(--breadcrumbs-height);
    left: 0;
    line-height: var(--breadcrumbs-height);
    padding: 0 20px;
    position: fixed;
    top: 0;
    width: 100vw;
    border-bottom: solid 1px var(--primary-2);
    background-color: var(--background-light);
    z-index: 5;
}

.breadcrumb {
    color: var(--charcoal);
}

.breadcrumb:hover {
    text-decoration: underline;
}

.breadcrumb::before {
    color: var(--primary-3);
}

/* frosted blur effect for course selection overlay */
.frosted {
    filter: blur(5px);
}

.no-padding {
    padding: 0;
}

.modal-content iframe {
    width: 100%;
    height: 70vh;
}

.feedback-button {
    cursor: pointer;
    margin-right: 15px;
    display: flex;
    align-content: center;
    align-items: center;
}

.feedback-button::before {
    content: "Feedback";
    font-size: 14px;
    margin-right: 5px;
}

.user-info {
    border-radius: 50px;
    margin: 10px;
    height: 32px;
    line-height: 32px;
    display: flex;
    font-size: 14px;
}

.user-info div {
    margin: 0 10px;
}

.user-info img {
    height: 36px;
    width: 36px;
    border-radius: 20px;
    margin: -4px -15px 0 0;
    cursor: pointer;
}