<div class="breadcrumbs">
    <div class="nav-wrapper">
        <div id="breadcrumb-links">

            <a class="breadcrumb" href="/">Home</a>
            <a class="breadcrumb" *ngIf="toolService.selectedTool && router.url.includes('tools/')" [routerLink]="['home', 'tools', toolService.selectedTool.id, 'options']">{{toolService.selectedTool.title}}</a>

            <div *ngIf="authGuardService.userDetails" class="user-info right">
                <div>
                    {{authGuardService.userDetails.displayName}}
                </div>
                <a class="dropdown-trigger" materialize="dropdown" [materializeParams]="[{constrain_width: false, alignment: 'left', coverTrigger: false}]"
                    data-activates="user-dropdown">
                    <img [src]="authGuardService.userDetails.photoURL">
                </a>
                <ul id='user-dropdown' class='dropdown-content'>
                    <li>
                        <a class="blue-grey-text" (click)="authGuardService.signOut()">Sign Out</a>
                    </li>
                </ul>
            </div>

            <a class="feedback-button modal-trigger right" (click)="openModal()">
                <i class="material-icons blue-text text-accent-3">
                    feedback
                </i>
            </a>

        </div>
    </div>
</div>
