.courseSidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: var(--course-sidebar-width);
  background-color: var(--background-dark);
  z-index: 5;
}

.courseSidebar__title {
  width: 100%;
  box-sizing: border-box;
  font-size: 20px;
  color: var(--background-light);
  text-align: center;
  height: calc(var(--breadcrumbs-height) - 2px);
  line-height: calc(var(--breadcrumbs-height) - 2px);
}

.courseSidebar__courseChip__container {
  max-height: calc(100vh - (var(--breadcrumbs-height) + 140px));
  overflow-y: scroll;
}

a {
  text-align: center;
  bottom: 10px;
  margin-top: 10px;
  width: 100%;
  padding: 0;
  font-size: 12px;
}

.courseSidebar__actionItem {
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 112px;
    padding-top: 10px;
}

.courseSidebar__actionItem i {
    line-height: 45px;
    text-align: center;
    border-radius: 90px;
    padding: 0 0 0 2px;
    font-size: 25px;
    width: 45px;
    height: 45px;
}

.courseSidebar__actionItem i.addButton {
    font-size: 30px;
}

.courseSidebar__actionItem i:hover {
    background-color: #263238 !important;
}

.enabled {
    color: #37474f  !important;
    background-color: #eceff1 !important;
}

.courseSidebar__actionItem i.enabled:hover {
    color: #eceff1 !important;
    background-color: #263238 !important;
}

/************************************
 * Course Selection Button
 ************************************/

.courseSidebar__expandSidebar {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
}

.courseSidebar__expandSidebar>* {
  color: white;
}

/******************************************
 * Course Selection Overlay Component
 ******************************************/

app-course-selection.open {
  display: block;
  animation: slidein .15s ease-in-out;
}

app-course-selection.close {
  display: block;
  animation: slideout .15s ease-in-out;
  animation-fill-mode: forwards;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color:black;
    z-index: 4;
    opacity: .7;
    height: 100vh;
    width: 100vw;
}

@keyframes slidein {
  from {
    margin-left: -100vw;
  }
  to {
    margin-left: 0;
  }
}

@keyframes slideout {
  from {
    margin-left: 0;
  }
  to {
    margin-left: -100vw;
  }
}