.courseSidebar {
  position: fixed;
  top: var(--breadcrumbs-height);
  left: 0;
  height: 100vh;
  width: var(--course-sidebar-width);
  background-color: var(--primary-3);
}

.courseSidebar__title {
  font-size: 16px;
  line-height: 18px;
  width: 100%;
  text-align: center;
  color: white;
  padding: 10px 0;
  box-sizing: border-box;
}

app-course-search {
  display: none;
}