<div class="courseSidebar light-blue darken-3">
    <div class="courseSidebar__title">Courses</div>
    <div class="courseSidebar__courseChip__container">
        <app-course-chip *ngFor="let course of this.courseService.courses" [course]="course" (click)="this.courseService.selectedCourse = course"></app-course-chip>
    </div>

    <div class="courseSidebar__expandSidebar">
        <!-- <div class="courseSidebar__actionItem"> -->
        <button *ngIf="courseService.courseEditOpen" (click)="removeAll()" class="waves-effect blue-grey darken-2 btn">Remove All</button>
        <!-- </div> -->
        <div class="courseSidebar__actionItem">
            <i *ngIf="!toolService.toolViewOpen" [class.enabled]="courseService.courseSelectionOpen" [class.pulse]="courseService.courses.length === 0" class="material-icons addButton"
                (click)="courseOverlay()" materialize="tooltip" data-position="right" data-tooltip="Add Courses">add</i>
        </div>
        <div class="courseSidebar__actionItem">
            <i *ngIf="!toolService.toolViewOpen" [class.enabled]="courseService.courseEditOpen" class="material-icons" (click)="toggleEditWindow()"
                materialize="tooltip" data-position="right" data-tooltip="Edit Courses">edit</i>
        </div>
    </div>
</div>
<app-course-selection></app-course-selection>
