<div class="courseSidebar blue-grey darken-3">
    <div class="courseSidebar__title">Courses</div>
    <div class="courseSidebar__courseChip__container" [class.toolView]="toolService.toolViewOpen">
        <button *ngIf="courseService.courseEditOpen" class="waves-effect blue-grey darken-4 btn removeAll" (click)="removeAll()">Remove All</button>
        <app-course-chip *ngFor="let course of courseService.courses" [course]="course" (click)="this.courseService.selectedCourse = course"></app-course-chip>
    </div>

    <div class="courseSidebar__expandSidebar" *ngIf="!toolService.toolViewOpen">
        <div class="courseSidebar__actionItem">
            <i class="blue accent-3 z-depth-2 material-icons addButton no-select" [class.pulse]="courseService.courses.length === 0 && !courseService.courseSelectionOpen"
                [class.enabled]="courseService.courseSelectionOpen" (click)="courseOverlay()" materialize="tooltip" data-position="right"
                data-tooltip="Add Courses">{{courseService.courseSelectionOpen ? 'arrow_back' : 'add'}}</i>
        </div>
        <div class="courseSidebar__actionItem">
            <i [class.enabled]="courseService.courseEditOpen" class="blue accent-3 darken-3 z-depth-2 material-icons no-select" (click)="toggleEditWindow()"
                materialize="tooltip" data-position="right" data-tooltip="Edit Courses">edit</i>
        </div>
    </div>
</div>
<app-course-selection></app-course-selection>

<div (click)="toggleEditWindow()" *ngIf="courseService.courseEditOpen" class="dark-overlay"></div>
