<div class="courseSidebar">
    <h1 class="courseSidebar__title">Courses</h1>
    <div class="courseSidebar__courseChip__container" [class.toolView]="toolService.toolViewOpen">
        <button *ngIf="courseService.courseSelectionOpen" class="waves-effect red lighten-1 btn removeAll" (click)="removeAll()">Remove All</button>
        <app-course-chip *ngFor="let course of courseService.courses" [course]="course" (click)="this.courseService.selectedCourse = course"></app-course-chip>
    </div>

    <div class="courseSidebar__expandSidebar">
        <div class="courseSidebar__actionItem" *ngIf="!toolService.toolViewOpen">
            <i class="blue accent-3 z-depth-2 material-icons addButton no-select" [class.pulse]="courseService.courses.length === 0 && !courseService.courseSelectionOpen"
                [class.enabled]="courseService.courseSelectionOpen" (click)="courseOverlay()" materialize="tooltip" data-position="right"
                data-tooltip="Add Courses">{{courseService.courseSelectionOpen ? 'close' : 'add'}}</i>
        </div>
    </div>
</div>
<app-course-selection></app-course-selection>

<div (click)="toggleEditWindow()" *ngIf="courseService.courseEditOpen" class="dark-overlay"></div>
