input:valid {
    border: solid 1px green;
}

input:invalid {
    border: solid 1px red;
}

.large-text {
    margin: 100px 100px 20px;
    font-size: 30px;
}

.small-text {
    margin: 20px 100px;
    font-size: 18px;
}