.statBadge {
    height: 36px;
    line-height: 36px;
    border-radius: 36px;
    display: inline-flex;
    margin: 5px 0;
}

.statBadge>div {
    display: inline-flex;
}

.statBadge__title {
    font-size: 16px;
}

.left-side {
    padding: 0 15px 0 10px;
}

.right-side {
    padding: 0 10px 0 15px;
}

.statBadge__count {
    height: 38px;
    min-width: 38px;
    margin: -1px -1px 0 0;
    line-height: 38px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 38px;
    background-color: white;
    text-align: center;
    padding: 0 5px;
}