<div class="courseChip__container no-select">
    <div class="courseChip blue-grey z-depth-1" [class.selectable]="toolService.toolViewOpen" [class.selected]="courseService.selectedCourse === course && toolService.toolViewOpen"
        (click)="courseService.selectedCourse = course">

        <span class="courseChip__courseDetails">
            {{course.course_code}}
            <div class="courseChip__instructorName">
                {{buildInstructorName()}}
            </div>
        </span>

        <div *ngIf="!course.processing" class="blue-grey darken-2 white-text courseChip__issueCount" [class.error]="course.error !== undefined">
            <span class="white-text countBadge__count">
                {{getIssueCount()}}
            </span>
        </div>
        <div *ngIf="course.processing" class="loading-dancer">.</div>
    </div>

    <i class=" material-icons smooth-width " *ngIf="courseService.courseSelectionOpen " (click)="courseService.removeCourse(course) ">
        clear
    </i>
    <i class="material-icons smooth-width " *ngIf="courseService.courseSelectionOpen " (click)="openCourse() ">
        open_in_new
    </i>
</div>
