<div class="courseChip__container">
    <div class="courseChip blue-grey darken-2 z-depth-1" [class.selectable]="toolService.toolViewOpen" [class.selected]="courseService.selectedCourse === course"
        (click)="courseService.selectedCourse = course">

        <span>
            {{course.course_code.split(':')[0]}}
            <div class="courseChip__instructorName">
                {{buildInstructorName()}}
            </div>
        </span>

        <div *ngIf="toolService.toolViewOpen" style="display: flex" class="smooth-width badgeContainer">
            <div class="blue-grey darken-1 white-text courseChip__issueCount">
                {{getIssueCount('untouched')}}
            </div>
            <div class="blue-grey darken-1 green-text text-accent-3 courseChip__issueCount">
                {{getIssueCount('approved')}}
            </div>
            <div class="blue-grey darken-1 red-text text-accent-3 courseChip__issueCount">
                {{getIssueCount('skipped')}}
            </div>
            <div class="blue-grey darken-1 light-blue-text text-accent-3 courseChip__issueCount">
                {{getIssueCount('fixed')}}
            </div>
        </div>
    </div>

    <i class=" material-icons smooth-width " *ngIf="courseService.courseEditOpen " (click)="courseService.removeCourse(course) ">
        clear
    </i>
    <i class="material-icons smooth-width " *ngIf="courseService.courseEditOpen " (click)="openCourse() ">
        open_in_new
    </i>
</div>
