<div class="courseChip__container no-select">
    <div class="courseChip blue-grey z-depth-1" [class.selectable]="toolService.toolViewOpen" [class.selected]="courseService.selectedCourse === course && toolService.toolViewOpen"
        (click)="courseService.selectedCourse = course">

        <span class="courseChip__courseDetails">
            {{course.course_code}}
            <div class="courseChip__instructorName">
                {{buildInstructorName()}}
            </div>
        </span>

        <div *ngIf="toolService.toolViewOpen" style="display: flex" class="smooth-width badgeContainer">
            <div *ngIf="!course.processing" class="blue-grey darken-2 white-text courseChip__issueCount" [class.error]="course.error !== undefined">
                <i *ngIf="course.error === undefined" class="material-icons countBadge__icon courseChip__issueCount__hidden" [ngClass]="courseService.getTextColorClasses('untouched')">
                    {{courseService.getStatusIcon('untouched')}}
                </i>
                <span class="white-text countBadge__count">
                    {{getIssueCount('untouched')}}
                </span>
            </div>
            <div *ngIf="!course.processing && !course.error" class="courseChip__issueCount courseChip__issueCount__hidden">
                <i class="material-icons countBadge__icon" [ngClass]="courseService.getTextColorClasses('approved')">
                    {{courseService.getStatusIcon('approved')}}
                </i>
                <span class="white-text countBadge__count">
                    {{getIssueCount('approved')}}
                </span>
            </div>
            <div *ngIf="!course.processing && !course.error" class="blue-grey-text text-lighten-1 courseChip__issueCount courseChip__issueCount__hidden">
                <i class="material-icons blue-grey-text text-lighten-1 countBadge__icon">
                    {{courseService.getStatusIcon('skipped')}}
                </i>
                <span class="white-text countBadge__count">
                    {{getIssueCount('skipped')}}
                </span>
            </div>
            <div *ngIf="!course.processing && !course.error" class="courseChip__issueCount courseChip__issueCount__hidden">
                <i class="material-icons countBadge__icon" [ngClass]="courseService.getTextColorClasses('failed')">
                    {{courseService.getStatusIcon('failed')}}
                </i>
                <span class="white-text countBadge__count">
                    {{getIssueCount('failed')}}
                </span>
            </div>
            <div *ngIf="!course.processing && !course.error" class="courseChip__issueCount courseChip__issueCount__hidden">
                <i class="material-icons countBadge__icon" [ngClass]="courseService.getTextColorClasses('fixed')">
                    {{courseService.getStatusIcon('fixed')}}
                </i>
                <span class="white-text countBadge__count">
                    {{getIssueCount('fixed')}}
                </span>
            </div>
        </div>
        <div *ngIf="course.processing" class="loading-dancer">.</div>
    </div>

    <i class=" material-icons smooth-width " *ngIf="courseService.courseSelectionOpen " (click)="courseService.removeCourse(course) ">
        clear
    </i>
    <i class="material-icons smooth-width " *ngIf="courseService.courseSelectionOpen " (click)="openCourse() ">
        open_in_new
    </i>
</div>
