<div class="issueCard z-depth-1">
  <div class="issueCard_titleLine">
    <div class="issueCard_title">Item Name</div>
    <a target="_blank" href="#" class="issueCard_link">
      <i class="material-icons">open_in_new</i>
    </a>
  </div>
  <div class="issueCard_type">Page</div>
  <ul>
    <li class="issueCard_issue">
      <span class="issueCard_reason">Invalid HTML</span>
      <span class="issueCard_tag issueCard_tag_fixed">fixed</span>
    </li>
    <li class="issueCard_issue">
      <span class="issueCard_reason">Invalid HTML</span>
      <span class="issueCard_tag issueCard_tag_ready">ready</span>
    </li>
    <li class="issueCard_issue">
      <span class="issueCard_reason">Invalid HTML</span>
      <span class="issueCard_tag issueCard_tag_skipped">skipped</span>
    </li>
    <li class="issueCard_issue">
      <span class="issueCard_reason">Invalid HTML</span>
      <span class="issueCard_tag"></span>
    </li>
  </ul>
</div>
