<div class="issueCard card z-depth-1">
  <div class="issueCard_titleLine">
    <div class="issueCard_title">{{itemTitle}}</div>
    <a target="_blank" href="{{itemLink}}" class="issueCard_link">
      <i class="material-icons">open_in_new</i>
    </a>
  </div>
  <div class="issueCard_type">{{itemType}}</div>
  <ul>
    <li class="divider" tabindex="-1"></li>
    <li *ngFor="let itemIssue of itemIssues" class="issueCard_issue">
      <span class="issueCard_reason">{{itemIssue.problem}}</span>
      <span class="issueCard_tag issueCard_tag_{{itemIssue.status}}">{{itemIssue.status}}</span>
    </li>
  </ul>
</div>
