.issueCard {
  padding: 5px;
  margin: 7px;
  background-color: white;
  /* border-radius: 3px; */
}

.issueCard>ul {
  margin: 5px;
}

.issueCard_titleLine {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px 0;
}

.issueCard_title {
  font-size: 16px;
}

.issueCard_link {
  /* border: solid 1px var(--primary-3); */
  height: 16px;
  width: 16px;
  line-height: 16px;
  margin-right: 2px;
  text-align: center;
  border-radius: 50px;
}

.issueCard_link>i {
  font-size: 20px;
}

.issueCard_type {
  font-size: 11px;
  padding: 0 5px;
  color: var(--primary-3);
}

.issueCard_issue {
  font-size: 12px;
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
}

.issueCard_reason {}

.issueCard_tag {
  font-size: 10px;
  line-height: 10px;
  border-radius: 20px;
  margin-left: 5px;
  padding: 2px 3px;
  vertical-align: center;
  user-select: none;
}

.issueCard_tag_fixed {
  border: solid 1px;
  border-color: blue;
  color: blue;
}

.issueCard_tag_ready {
  border: solid 1px;
  border-color: limegreen;
  color: limegreen;
}

.issueCard_tag_skipped {
  border: solid 1px;
  border-color: red;
  color: red;
}

.divider {
  margin-bottom: 5px;
}
