<div *ngIf="this.issuesService.selectedCourse && this.issuesService.selectedCourse.id === issueItem.course_id" id="{{issueItem.item_type}}_{{issueItem.item_id}}" [class.selectedCard]="this.issuesService.selectedItem === issueItem" class="issueCard card z-depth-1 ">
    <div class="issueCard_titleLine ">
        <div>
            <i #typeIcon id="typeIcon" materialize="tooltip" class="material-icons issueCard_tag tooltipped" data-position="left">
                {{getTypeIcon()}}
            </i>
            <div class="issueCard_title">
                {{issueItem.title}}
            </div>
        </div>
        <a target="_blank" href="{{issueItem.link}}" class="issueCard_link tooltipped" data-position="right" data-tooltip="Open in Canvas">
      <i class="material-icons">open_in_new</i>
    </a>
    </div>
    <!-- <div class="issueCard_type ">{{issueItem.item_type}}</div> -->
    <ul>
        <li *ngFor="let issue of issueItem.issues" class="issueCard_issue ">
            <i class="material-icons issueCard_tag" [style.color]="getIconColor(issue.status)">
                {{getStatusIcon(issue.status)}}
            </i>{{issue.title}}
        </li>
    </ul>
</div>