.issueCard {
  padding: 5px;
  margin: 7px;
  width: calc(100% - 14px);
  border: solid 1px white;
  background-color: white;
  cursor: pointer;
}

.issueCard>ul {
  margin: 5px;
}

.issueCard_titleLine {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px 0;
}

.issueCard_title {
  font-size: 16px;
}

.issueCard_link:hover {
  opacity: .7;
}

.issueCard_link {
  /* border: solid 1px var(--primary-3); */
  height: 16px;
  width: 16px;
  line-height: 16px;
  margin-right: 5px;
  text-align: center;
}

.issueCard_link>i {
  font-size: 22px;
}

.issueCard_type {
  font-size: 11px;
  padding: 0 5px;
  color: var(--primary-3);
}

.issueCard_issue {
  font-size: 12px;
  margin-top: 2px;
  display: flex;
  line-height: 22px;
  justify-content: space-between;
}

.issueCard_tag {
  font-size: 22px;
  vertical-align: center;
  user-select: none;
}

.issueCard_tag_fixed {
  color: var(--primary-1);
}

.issueCard_tag_ready {
  color: #00c853;
}

.issueCard_tag_skipped {
  color: #e53935;
}

.divider {
  margin-bottom: 5px;
}
