/* The full card for an issue item */

.issueCard {
    cursor: pointer;
    padding: 15px;
    position: relative;
    width: calc(100%);
}

/* The line containing the item title and link to Canvas */

.issueCard_titleLine {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.issueCard_titleLine>div {
    display: flex;
}

.issueCard_titleLine>div>i {
    color: var(--primary-5);
}

/* The item title */

.issueCard_title {
    font-size: 16px;
    font-weight: 500;
}

/* Link to Canvs */

.issueCard_link {
    height: 16px;
    width: 16px;
    line-height: 16px;
    margin-right: 5px;
    text-align: center;
}

/* The link to canvas */

.issueCard_link:hover {
    opacity: .7;
}

/* Icon within the link to Canvas */

.issueCard_link>i {
    font-size: 22px;
}

/* The item type (i.e. Page) */

.issueCard_type {
    font-size: 12px;
    color: var(--primary-3);
    margin-bottom: 10px;
}

/* The issue title */

.issueCard_issue {
    font-size: 12px;
    margin-top: 2px;
    display: flex;
    line-height: 22px;
}

/* The issue tag (the icon) */

.issueCard_tag {
    font-size: 22px;
    margin: 0 5px 0 0;
    user-select: none;
    vertical-align: center;
    width: 26px;
}