.tabs {
    height: var(--breadcrumbs-height) !important;
}

.tabs .tab {
    transition: all .1s ease-in-out;
    line-height: var(--breadcrumbs-height);
    height: var(--breadcrumbs-height);
}

.tabs .tab:hover {
    background-color: var(--navy-light) !important;
}

.tabs .indicator {
    display: none !important;
}

.selectedTab {
    background-color: var(--navy-light) !important;
}

/* These are the buttons on the right of the course tabs bar (settings, feedback, edit courses) */

.addButton {
    float: right;
    background-color: var(--navy);
    height: calc(var(--breadcrumbs-height) + 1px);
    cursor: pointer;
}

.addButton>i {
    line-height: var(--breadcrumbs-height);
    padding: 0 20px;
    transition: all .1s ease-in-out;
}

.addButton>i:hover {
    background-color: var(--navy-light);
}

/* Adjusts the size for the feedback modal */

.modal-content iframe {
    width: 100%;
    height: 70vh;
}

/* Fixes some CSS issues with the settings menu */

ul.dropdown-content {
    background-color: white !important;
    width: auto !important;
    position: fixed !important;
    top: auto !important;
    left: auto !important;
    right: 20px !important;
}

.dropdown-content a {
    color: var(--cobalt);
    padding: 14px 16px;
}

/* Animation used by the tabs when processing courses */

.pulseypulse>a {
    animation: pulseypulse 2s infinite ease-in-out;
}

@keyframes pulseypulse {
	0% {
        color: var(--ashen);
    }
    75% {
        color: var(--cobalt);
    }
    100% {
        color: var(--ashen);
	}
}