/* The container for all issue-container elements */

.issueDetails {
    width: calc(100vw - var(--issueList-width));
    max-height: calc(100vh - var(--header-height));
    padding: 0 15px 0 0;
    overflow-y: scroll;
}

/* The header for issue-details */

.issueDetails__header {
    box-sizing: border-box;
    font-size: 20px;
    height: var(--toolView-titleBar-height);
    line-height: var(--toolView-titleBar-height);
    padding: 0 10px;
}

/* The currently selected item's title */

.issueDetails__itemTitle {
    background-color: var(--cobalt);
    margin-left: 15px;
    font-size: 20px;
}

/* The box that holds all of the issue-container elements */

.issueDetails__issueBox {
    box-sizing: border-box;
    overflow-x: hidden;
    overflow: auto;
    max-height: calc(100% - var(--toolView-titleBar-height) + 8px);
}