<div class="issueDetails">
    <h1 style="display:inline-block" class="white-text">
        Results
    </h1>
    <span class="issueDetails__itemTitle ashen-text">{{this.courseService.selectedIssueItem ? this.courseService.selectedIssueItem.title : ''}}</span>
    <div *ngIf="courseService.selectedIssueItem" class="issueDetails__issueBox">
        <!-- For each issue in the selected issue item, create an app-issue-container component. The id is consisted of the issueItem's id and the index of the issue itself in the selected issueItem's issue array -->
        <app-issue-container *ngFor="let issue of courseService.selectedIssueItem.issues; let i = index" [index]="i" [issue]="issue" id="{{courseService.selectedIssueItem.item_id}}-{{i}}"></app-issue-container>
    </div>
</div>
