.categories {
    margin: auto;
    padding: 25px 50px;
    max-height: calc(100vh - var(--header-height));
    margin-top: var(--header-height);
    overflow-y: auto;
}

.categories.frosted {
    overflow: hidden;
    z-index: -1;
    position: relative;
}

.tools {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    height: calc(100vh - var(--course-sidebar-height));
}

.toolIcon {
    display: flex;
    padding: 20px;
    font-size: 25px;
    box-sizing: border-box;
    width: 300px;
    justify-content: center;
    text-align: center;
    margin: 20px;
    transition: all .1s ease-in-out;
    cursor: pointer;
    animation: .5s fadeIn;
}

.toolIcon i {
    font-size: 90px;
    padding: 30px;
    border-radius: calc(((100vw - var(--course-sidebar-width)) / 4) - 30px);
    transition: all .1s ease-in-out;
}

.toolIcon:hover {
    background-color: var(--primary-4);
}

.toolIcon p {
    color: var(--primary-3);
    margin: 0;
}