<div class="courseSearch">
  <div class="courseSearch__title">Course Selection</div>
  <div class="courseSearch__courseSelection">
    <div class="courseSearch__options">
      <div class="courseSearch__options__title">Account</div>
      <select class="courseSearch__account" name="Account">
        <option value="" selected></option>
        <option value="online">Online</option>
        <option value="campus">Campus</option>
        <option value="pathway">Pathway</option>
        <option value="all">All</option>
      </select>
      <div class="courseSearch__options__title">Term</div>
      <select class="courseSearch__term">
        <option value="" selected></option>
        <option value="fall">Fall</option>
        <option value="winter">Winter</option>
        <option value="spring">Spring</option>
        <option value="all">All</option>
      </select>
      <div class="courseSearch__options__title">Blueprint</div>
      <select class="courseSearch__blueprint">
        <option value="" selected></option>
        <option value="true">True</option>
        <option value="false">False</option>
      </select>
      <div class="courseSearch__options__title">Group</div>
      <select class="courseSearch__group">
        <option value="" selected></option>
      </select>
    </div>
    <div class="courseSearch__search">
      <div class="courseSearch__searchbar__title">Search</div>
      <input type="text" />
      <div class="courseSearch__courseResults__title">Results</div>
      <div class="courseSearch__courseResults">
        <div>Name</div>
      </div>
    </div>
  </div>
  <app-group-sidebar></app-group-sidebar>
</div>
