<div [class.frosted]="this.courseService.courseSelectionOpen || this.courseService.courseEditOpen" class="optionsView">
    <div class="optionsView__container card">

        <form materialize (ngSubmit)="onSubmit()" [formGroup]="formGroup" #optionsForm="ngForm">
            <div class="card-content">
                <h1 style="padding:0;font-size:24px">Options</h1>
                <h2 class="cobalt-text">
                    {{toolService.selectedTool.title}}
                </h2>

                <div>
                    <h3>Description</h3>
                    <div>{{toolService.selectedTool.description}}</div>
                </div>

                <div>
                    <h3>Categories</h3>
                    <div style="display:flex">
                        <div class="categories-container" *ngFor="let category of toolService.selectedTool.categories">
                            <input [id]="category" type="checkbox" class="filled-in blue accent-3 canvas-category" checked="checked">
                            <label [for]="category">{{category}}</label>
                        </div>
                    </div>
                </div>

                <div *ngFor="let option of optionModel.options" class="form-row">
                    <h3>{{option.title}}</h3>
                    <div class="option__description">{{option.description}}</div>
                    <div [ngSwitch]="option.type" class="option__container" [class.multiselect]="option.type === 'multiselect'" [class.required]="!formGroup.controls[option.key].valid">
                        <div *ngSwitchCase="'text'">
                            <input type="{{option.type}}" id="{{option.key}}" [formControlName]="option.key" autofocus>
                        </div>
                        <div *ngSwitchCase="'dropdown'">
                            <select style="display: block" [formControlName]="option.key">
                                <option *ngFor="let choice of option.choices">{{choice}}</option>
                            </select>
                        </div>
                        <div *ngSwitchCase="'multiselect'">
                            <select style="display: block" [formControlName]="option.key" multiple>
                                <option *ngFor="let choice of option.choices">{{choice}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-action">
                <button type="button" class="btn-flat blue-grey-text text-darken-4" routerLink="/">Cancel</button>
                <button type="submit" class="btn-flat blue-text text-accent-3" [disabled]="!formGroup.valid">Run Tool</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal - Must stay beneath the main container -->
<div id="fixModal" class="modal" materialize="modal" [materializeActions]="modalActions">
    <div class="modal-content">
        <h4>No Courses Selected</h4>
        <p>You must select at least one course before continuing.</p>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect btn blue">Got it!</a>
    </div>
</div>
<div *ngIf="modalIsOpen()" class="arrowIndicator">
    <i style="font-size: 40px;margin-right: 15px;" class="material-icons">arrow_back</i>
    <div>
        Click here to Add Courses
    </div>
</div>
