<div [class.frost]="this.courseService.courseSelectionOpen || this.courseService.courseEditOpen" class="tools">
    <div *ngFor="let tool of this.toolService.toolList" (click)="this.toolService.selectedTool = tool" [routerLink]="[tool.id, 'options']"
        style="display: block" class="toolIcon card" [style.display]="tool.toolCategory === this.toolService.selectedCategory.toolCategory ? 'block' : 'none'">
        <i class="material-icons blue-text text-accent-3">{{tool.icon}}</i>
        <p>{{tool.title}}</p>
    </div>
</div>

<!-- [style.display]="tool.categories.includes(this.toolService.selectedCategory.categoryId) ? 'block' : 'none'" -->
<!-- Swap out style display with this when its ready -->
