/* Import Materialize */

@import "~materialize-css/dist/css/materialize.css";
:root {
  /* CSS3 Variables here */
  --primary-1: #1565c0;
  --primary-1-clear: #01589b15;
  --primary-2: #cfd8dc;
  --primary-3: #90a4ae;
  --primary-4: #eceff1;
  --primary-5: #78909c;
  --primary-6: #f0f0f0;
  --accent-1: #2196f3;
  --accent-2: #e53935;
  --background-dark: #546e7a;
  --background-light: #eceff1;
  --course-sidebar-width: 112px;
  --breadcrumbs-height: 50px;
  --issueList-width: 350px;
  --toolView-titleBar-height: 60px;
  --course-chip-width: 92px;

  --cobalt: #2879B5;
  --navy: #183A54;
  --black: #000000;
  --mint: #5EBD8F;
  --charcoal: #65727D;
  --ashen: #eceff1;
  --mint-muted: rgba(101, 184, 144, 0.5);
}

* {
    transition: all .15s ease-in-out;
}

body {
    margin: var(--breadcrumbs-height) 0 0 var(--course-sidebar-width);
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    background-color: var(--cobalt);
}

.cobalt {
    background-color: var(--cobalt);
}
.navy {
    background-color: var(--navy);
}
.black {
    background-color: var(--black);
}
.mint {
    background-color: var(--mint-muted);
}
.charcoal {
    background-color: var(--charcoal);
}
.ashen {
    background-color: var(--ashen);
}

.cobalt-text {
    color: var(--cobalt);
}
.navy-text {
    color: var(--navy);
}
.black-text {
    color: var(--black);
}
.mint-text {
    color: var(--mint);
}
.charcoal-text {
    color: var(--charcoal);
}
.ashen-text {
    color: var(--ashen);
}

h1, h2, h3 {
    font-weight: bold;
    letter-spacing: .5px;
    margin: 0;
    padding: 15px 0;
    text-transform: uppercase;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 14px;
}

.pad-10 {
    padding: 0 10px;
}

.pad-15 {
    padding: 0 15px;
}

.pad-20 {
    padding: 0 20px;
}

.code-block {
    padding: 10px 15px;
    color: var(--navy);
    background-color: var(--ashen);
    border-radius: 5px;
    display: inline-block;
}

ul {
  margin: 0;
}

.no-select {
  user-select: none;
}

.loader {
  width: calc(100vw - var(--course-sidebar-width));
  display: flex;
  justify-content: center;
  padding: 25px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.flex-container {
    display: flex;
}

.overview-statBadge .statBadge {
    margin-right: 5px;
    width: 225px;
    cursor: pointer;
}

.option__container {
    border: solid 1px var(--primary-2);
    width: 50%;
    min-width: 200px;
    background-color: white;
}

.required {
    background-color: #ffebeb;
}

.option__description {
    padding: 0 0 10px;
}

select[multiple] {
    height: 150px;
}

input[type="text"], input:focus {
    padding-left: 10px !important;
    margin: 0 !important;
    border-bottom: none !important;
    box-shadow: none !important;
    box-sizing: border-box;
}

input:focus {
    background-color: #f2f2f2;
}

select {
    background-color: transparent;
}

.multiselect {
    position: relative;
    margin-bottom: 10px;
}

.multiselect::after {
    content: "Ctrl + Click to select multiple items";
    font-size: 10px;
    padding-left: 7px;
    color: var(--accent-1);
}

/* Overwrite Materialize Card Margins */

.card {
  margin: 0 0 10px;
}

/* Overwrite Materialize flat buttons background color on hover */

.btn-flat:hover {
  background-color: #ebebeb;
}

/* Overwrite Materialize Table Details */

tbody>tr>td {
  border-radius: 0;
}

/* width */

::-webkit-scrollbar {
  display: none;
  width: 5px;
}

::-webkit-scrollbar:hover {
  display: block;
  width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
  background: var(--primary-4);
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: var(--primary-3);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #757575;
}

/* frosteded blur effect for course selection overlay */
.frosted {
    filter: blur(7px);
}

div.loading-dancer::before {
    content: ".";
    font-size: 30px;
    font-weight: 700;
    animation: loadingDancer 0.75s ease-in-out 0s infinite alternate;
}

div.loading-dancer {
    line-height: 15px;
    padding-right: 6px;
    font-size: 30px;
    font-weight: 700;
    animation: loadingDancer 0.75s ease-in-out 0.25s infinite alternate;
}

div.loading-dancer::after {
    content: ".";
    font-size: 30px;
    font-weight: 700;
    animation: loadingDancer 0.75s ease-in-out 0.5s infinite alternate;
}

@keyframes loadingDancer {
  from {
    transform: scalex(3, 3);
  }
  to {
    opacity: 0.2;
    transform: scalex(1, 1);
  }
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
