<div materialize class="issueApproval">


    <div class="issueApproval__navigation">
        <a class="blue lighten-1 btn-floating waves-effect waves-light" (click)="shiftSelectedItem('up')">
            <i class="material-icons">keyboard_arrow_up</i>
        </a>
        <div class="issueApproval__counter">
            {{this.issuesService.selectedItem ? this.getCardPosition().currentIndex : '--'}} of {{this.issuesService.selectedItem ? this.getCardPosition().totalLength : '--'}}
        </div>
        <a class="blue lighten-1 btn-floating waves-effect waves-light" (click)="shiftSelectedItem('down')">
            <i class="material-icons">keyboard_arrow_down</i>
        </a>
    </div>


    <div class="issueApproval__buttonContainer">
        <div class="issueApproval__button">
            <a class="waves-effect blue waves-light btn">
                <i class="material-icons left">build</i>
                Fix Approved
            </a>
        </div>

        <ul id="dropdown1" class="dropdown-content">
            <li>
                <a href="#!" class="green-text">
                Approve All
                </a>
            </li>
            <li>
                <a href="#!" class="red-text">
                    Mark as Exception
                </a>
            </li>
        </ul>
        <div>
            <a materialize="dropdown" [materializeParams]="[{constrain_width: false, alignment: 'left'}]" class="dropdown-button issueApproval_moreButton" data-activates="dropdown1">
        <i class="material-icons">more_vert</i>
      </a>
        </div>
    </div>
</div>