.issueView {
  width: calc(100vw - (var(--issueList-width) + var(--course-sidebar-width)));
  height: 60vh;
  border-bottom: solid 1px var(--primary-2);
}

.issueView>iframe {
  width: calc(100vw - (var(--issueList-width) + var(--course-sidebar-width)));
  height: 100%;
  border: none;
}
