<div class="editor-container">
    <div class="html-bar white">
        <button *ngFor="let tab of _tabs" class="btn-flat waves" (click)="setEditorSession(tab)" [class.activeTab]="activeTab === tab">
            {{tab.title}}
        </button>

        <button class="btn-flat waves right edit-button" (click)="expandView()">
            <i class="material-icons">{{activeTab && activeTab.readOnly ? 'visibility' : 'code'}}</i>
        </button>
    </div>
    <div class="editor" #editor></div>
</div>
