.issueApproval {
  height: 70px;
  position: fixed;
  bottom: 0;
  border-top: solid 1px var(--primary-2);
  left: var(--course-sidebar-width);
  width: calc(100vw - var(--course-sidebar-width));
  background-color: var(--primary-4);
  display: flex;
  justify-content: space-between;
}

.issueApproval>div {
  display: flex;
}

.issueApproval__navigation {
  padding: 12px 20px;
  line-height: 46px;
  width: var(--issueList-width);
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.issueApproval__buttonContainer {
  display: flex;
}

.issueApproval__counter {
  font-size: 18px;
  padding: 0 10px;
}

.greyhover {
  margin-top: 4px;
}

.issueApproval__navigation .greyhover:hover i {
  color: white !important;
}

.issueApproval__arrow {
  font-size: 50px;
  font-weight: bold;
  transform: scaleX(.5);
  color: var(--primary-3);
  padding: 0 20px;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.issueApproval__arrow:hover {
  user-select: none;
  color: var(--primary-1);
}

.issueApproval__button {
  line-height: 46px;
  margin: 12px 10px;
  border-radius: 3px;
}

.issueApproval_moreButton>i {
  line-height: 70px;
  font-size: 30px;
  color: var(--primary-5);
  margin: 0 10px 0 0;
  cursor: pointer;
}

.dropdown-content {
  width: 200px !important;
  transform: translate(0, -70px);
}
