.issueApproval {
  height: 70px;
  position: fixed;
  bottom: 0;
  border-top: solid 1px var(--primary-2);
  left: var(--course-sidebar-width);
  width: calc(100vw - var(--course-sidebar-width));
  background-color: var(--primary-4);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  z-index: 1;
}

.issueApproval__navigation {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    line-height: 70px;
    padding: 0 10px 0 20px;
    width: var(--issueList-width);
}

.issueApproval__navigation>a {
    margin-top: 14px;
}

.issueApproval__buttonContainer {
    display: flex;
    justify-content: space-between;
}

.issueApproval__counter {
    font-size: 18px;
    margin: 0 20px;
}

.issueApproval__button {
    border-radius: 3px;
    line-height: 46px;
    margin: 12px 10px;
}

.issueApproval_moreButton>i {
    color: var(--primary-5);
    cursor: pointer;
    font-size: 30px;
    line-height: 70px;
    margin: 0 10px 0 0;
}

.dropdown-content {
    width: 200px !important;
    transform: translate(0, -70px);
}